<!DOCTYPE html>
<html lang="en" class="fontawesome-i2svg-active fontawesome-i2svg-complete">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta-info.html" %}
    <script src="/scripts/js/dark-mode-checker.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
  </head>
  <body>
    {% include "partials/sidebar.html" %}

    {# <main tabindex="-1" id="main-content">{% block content %}{% endblock %}</main> #}
    <div class="main-wrapper">
    {% block content %}{% endblock %}
    </div>
    <script src="/scripts/plugins/jquery-3.4.1.min.js"></script>
    <script src="/scripts/js/dark-mode.js"></script>
    <script src="/scripts/plugins/popper.min.js"></script>
    <script src="/scripts/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/scripts/plugins/tiny-slider/min/tiny-slider.js"></script>
    <script src="/scripts/plugins/js-cookie.min.js"></script>
  </body>
</html>
