<section class="overview-section p-3 p-lg-5">
	<div class="container">
		<h2 class="section-title font-weight-bold mb-3">{{ skills.title }}</h2>
		<div class="section-intro mb-5">{{ skills.description }}</div>
		<div class="row">
			{% for item in skill.items %}
				<div class="item col-6 col-lg-3">
					<div class="item-inner">
						<div class="item-icon">{% include item.image %}</div>
						<h3 class="item-title">{{ item.name }}</h3>
						<div class="item-desc">{{ item.description }}</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>